<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Asterisk Monitor (MonAst)</title>

<!-- css --> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/fonts/fonts-min.css"> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/skin.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/menu/assets/skins/sam/menu.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/container/assets/skins/sam/container.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/button/assets/skins/sam/button.css">
<!-- js --> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/animation/animation-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/dragdrop/dragdrop-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/container/container-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/container/container_core-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/logger/logger-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/button/button-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/tabview/tabview-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/menu/menu-min.js"></script>

<script type="text/javascript" src="js/json.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
<script type="text/javascript" src="js/astmon.js"></script>
<script type="text/javascript" src="js/shortcut.js"></script>

<link rel="stylesheet" type="text/css" href="css/styles.css"> 

</head>
<body class="yui-skin-sam">

<iframe id="__frame" width="1024" height="350" style="display: none"></iframe>

<div id="TabPannel" class="yui-navset">
  <ul class="yui-nav">
    <li><a href="#tab0"><em>Mixed Pannels</em></a></li>
    <li><a href="#tab1"><em>Peers/Users</em></a></li>
    <li><a href="#tab2"><em>Meetme Rooms</em></a></li>
    <li><a href="#tab3"><em>Channels/Calls</em></a></li>
    <li><a href="#tab4"><em>Debug</em></a></li>
  </ul>
  
  <div class="yui-content"> 
    <div id="mixed">
      <fieldset id="pannelsToShow">
        <legend>Pannels to Show</legend> 
        <input id="checkBoxTab1" type="checkbox" name="checkBoxTab1" value="peersDiv">
        <input id="checkBoxTab2" type="checkbox" name="checkBoxTab2" value="meetmesDiv">
        <input id="checkBoxTab3" type="checkbox" name="checkBoxTab3" value="chanCallDiv">
      </fieldset>
      <script type="text/javascript">
        var ocheckBoxTab1 = new YAHOO.widget.Button("checkBoxTab1", { label: "Peers/Users" });
            ocheckBoxTab1.addListener('checkedChange', showHidePannels);
        var ocheckBoxTab2 = new YAHOO.widget.Button("checkBoxTab2", { label:"Meetme Rooms" });
            ocheckBoxTab2.addListener('checkedChange', showHidePannels);
        var ocheckBoxTab3 = new YAHOO.widget.Button("checkBoxTab3", { label:"Channels/Calls" });
            ocheckBoxTab3.addListener('checkedChange', showHidePannels);
      </script>
    </div>
  
    <div id="peersDiv">
    <fieldset>
      <legend>Peers/Users</legend> 
      <!-- START BLOCK : peer -->
      <div id="peerDiv-{peer}" class="peerTable">
        <table class="status" width="175px">
          <tr>
            <td colspan="2" bgcolor="#DDDDDD" nowrap="nowrap"><b><a href="#" title="Options" onClick="showPeerOptionsMenu('{peer}')">{CallerID}</a></b></td>
          </tr>
          <tr>
            <td id="peerStatus-{peer}" bgcolor="{status-color}" width="115px">{status}</td>
            <td id="peerCalls-{peer}" bgcolor="{calls-color}" width="60px">{calls}</td>
          </tr>
        </table>
      </div>
      <script type="text/javascript">
		callerIDs['{peer}'] = '{CallerID}';
		ddDivs['peerDiv-{peer}']               = new YAHOO.util.DD("peerDiv-{peer}");
		ddDivs['peerDiv-{peer}'].onMouseDown   = setStartPosition;
		ddDivs['peerDiv-{peer}'].onDragDrop    = peerDrop; 
		ddDivs['peerDiv-{peer}'].onInvalidDrop = invalidDrop;
      </script>
      <!-- END BLOCK : peer -->
      <div style="clear: both;"></div>
    </fieldset>
    </div>
    
    <div id="meetmesDiv">
    <fieldset>
      <legend>Meetme Rooms</legend> 
      <!-- START BLOCK : meetme -->
      <div id="meetme-{meetme}" class="meetmeDivWrap">
        <div class="meetmeDiv">
          <table width="250">
            <tr>
              <td align="center" class="statusHeader">Meetme ({meetme})</td>
            </tr>
          </table>
        </div>
      </div>
      <script type="text/javascript">
		ddDivs['meetme-{meetme}'] = new YAHOO.util.DDTarget('meetme-{meetme}');
      </script>
      <!-- END BLOCK : meetme -->
      <div style="clear: both;"></div>
    </fieldset>
    </div>
    
    <div id="chanCallDiv">
    <fieldset>
      <legend>Channels/Calls</legend> 
      <div id="channelsDiv">
        <div class="channelDiv">
          <table width="350">
            <tr>
              <td class="tableTitle" align="center" colspan="2">Channels</td>
            </tr>
            <tr>
              <td class="statusHeader" align="center" width="270">Channel</td>
              <td class="statusHeader" align="center" width="80">Status</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="callsDiv">
        <div class="callDiv">
          <table width="600">
            <tr>
              <td class="tableTitle" align="center" colspan="3">Calls</td>
            </tr>
            <tr>
              <td class="statusHeader" align="center" width="260">SRC Channel</td>
              <td class="statusHeader" align="center" width="80">Status</td>
              <td class="statusHeader" align="center" width="260">DST Channel</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="trash">
        <img src="image/trash-2.png" width="96" height="96" title="Drag channels or calls to Hangup">
      </div>
      <div style="clear: both;"></div>
    </fieldset>
    </div>

    <div id="debugMsg">
    </div>
    
  </div>
</div>

<div id="originateDiv">
  <div class="hd">Please enter destination number</div>
  <div class="bd">
    <label for="originateNumber">Destination: </label><input type="text" id="originateNumber" size="15" />
  </div>
</div>
<script type="text/javascript">
var originateDialog = new YAHOO.widget.Dialog("originateDiv", 
{
	visible: false,
	constraintoviewport: true,
	buttons: [
		{ text:"Originate", handler: handleOriginate },
		{ text:"Cancel", handler: handleOriginateCancel, isDefault: true }
	],
	width: '300px'
});
</script>

<div id="transferDiv">
  <div class="hd">Please select channel to transfer to "<span id="transferDestination"></span>"</div>
  <div class="bd">
    <input type="radio" name="transferSource" id="transferSourceValueA" value=""><span id="transferSourceTextA"></span><br>
    <input type="radio" name="transferSource" id="transferSourceValueB" value=""><span id="transferSourceTextB"></span>
  </div>
</div>
<script type="text/javascript">
var transferDialog = new YAHOO.widget.Dialog("transferDiv",
{
	fixedcenter: true, 
	buttons: [
		{ text:"Transfer", handler: handleTransfer },
		{ text:"Cancel", handler: handleTransferCancel, isDefault: true }
	],
	visible: false,
	constraintoviewport : true,
	width: '500px'
});
</script>

<script type="text/javascript">
YAHOO.util.DDM.mode = YAHOO.util.DDM.POINT;

var tabPannel = new YAHOO.widget.TabView('TabPannel');
tabPannel.set('activeIndex', 1);
tabPannel.addListener('beforeActiveTabChange', function(e){
	var pannels = new Array('peersDiv', 'meetmesDiv', 'chanCallDiv', 'debugMsg');
	for (i = 0; i < pannels.length; i++)
		$(pannels[i]).style.display = 'none';
});
tabPannel.getTab(0).addListener('click', function(e){
	var buttons = new Array(ocheckBoxTab1, ocheckBoxTab2, ocheckBoxTab3);
	for (i = 0; i < buttons.length; i++)
	{
		$(buttons[i].get('value')).style.display = (buttons[i].get('checked') ? 'block' : 'none');
	}
});

var dTrash = new YAHOO.util.DDTarget("trash");

<!-- START BLOCK : process -->
Process('{json}');
<!-- END BLOCK : process -->

startIFrame();

</script>

</body>
</html>