
<!-- TEMPLATES -->

<!-- User/Peer -->
<div class="hidden" id="Template::Userpeer">
  <table class="status" width="175px">
    <tr>
      <td colspan="2" bgcolor="#DDDDDD" nowrap="nowrap"><b><span monast="callerid">&nbsp;</span></b></td>
    </tr>
    <tr>
      <td monast="statuscolor" width="115px"><span monast="status">&nbsp;</span></td>
      <td monast="callscolor" width="60px"><span monast="calls">&nbsp;</span> call(s)</td>
    </tr>
  </table>
</div>

<!-- User/Peer Information -->
<div style="display: none" id="Template::Userpeer::Info">
  <table class="tableInfo" id="Template::Userpeer::Info::Table">
    <tr>
      <td class="key">Channel Type:</td>
      <td>#{channeltype}</td>
    </tr>
    <tr>
      <td class="key">Peer Name:</td>
      <td>#{peername}</td>
    </tr>
    <tr>
      <td class="key">Peer Context:</td>
      <td>#{context}</td>
    </tr>
    <tr>
      <td class="key">Callerid:</td>
      <td>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Status:</td>
      <td>#{status}</td>
    </tr>
    <tr>
      <td class="key">Active Calls:</td>
      <td>#{calls}</td>
    </tr>
    <tr>
      <td class="key">Latency:</td>
      <td>#{latency}</td>
    </tr>
  </table>
</div>

<!-- User/Peer Form Originate Dial -->
<div style="display: none" id="Template::Userpeer::Form::Originate::Dial">
  <table class="tableInfo">
    <tr>
      <td class="key">From:</td>
      <td>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">To:</td>
      <td><input type="text" id="Userpeer::Form::Originate::Dial::To"></td>
    </tr>
  </table>
</div>

<!-- User/Peer Form Originate Call -->
<div style="display: none" id="Template::Userpeer::Form::Originate::InternalCall">
  <table class="tableInfo">
    <tr>
      <td class="key">From:</td>
      <td>#{fromcallerid}</td>
    </tr>
    <tr>
      <td class="key">To:</td>
      <td>#{tocallerid}</td>
    </tr>
  </table>
</div>

<!-- Channel -->
<div class="hidden" id="Template::Channel">
  <table width='330'>
    <tr>
      <td class='status' width='260'>
        <span monast="monitor">
          <img src='image/stop.png' border='0' width='8' height='8' title="Channel Monitored">&nbsp;&nbsp;
        </span>
        <span monast="spy">
          <img src='image/user_thief.png' border='0' width='8' height='8' title="Channel Spyed">&nbsp;&nbsp;
        </span>
        <span monast="channel">&nbsp;</span>
        <br>
        <span monast="callerid">&nbsp;</span>
      </td>
      <td monast="statecolor" class='status' width='70'><span monast="state">&nbsp;</span></td>
    </tr> 
  </table>
</div> 

<!-- Channel Form Spy Peer -->
<div style="display: none" id="Template::Channel::Form::Spy::Peer">
  <table class="tableInfo">
    <tr>
      <td class="key">Channel:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Spyer:</td>
      <td>#{spyer}</td>
    </tr>
  </table>
</div>

<!-- Channel Form Spy Number -->
<div style="display: none" id="Template::Channel::Form::Spy::Number">
  <table class="tableInfo">
    <tr>
      <td class="key">Channel:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Spyer Number:</td>
      <td><input type="text" id="Template::Channel::Form::Spy::Number::Spyer" value="#{spyer}"></td>
    </tr>
  </table>
</div>

<!-- Channel Information -->
<div style="display: none" id="Template::Channel::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Uniqueid:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key">Channel Name:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key">Callerid Name:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key">Callerid Number:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key">State:</td>
      <td>#{state}</td>
    </tr>
    <tr>
      <td class="key">Monitored:</td>
      <td>#{monitortext}</td>
    </tr>
    <tr>
      <td class="key">Spy:</td>
      <td>#{spytext}</td>
    </tr>
  </table>
</div>

<!-- Bridge -->
<div class="hidden" id="Template::Bridge">
  <table width='570'>
    <tr>
      <td class='status' width='250'><span monast="channel">&nbsp;</span><br><span monast="callerid">&nbsp;</span></td>
      <td class='status' width='70' monast="statuscolor"><span monast="status">&nbsp;</span><br><span style='font-family: monospace;' monast='chrono'></span></td>
      <td class='status' width='250'><span monast="bridgedchannel">&nbsp;</span><br><span monast="bridgedcallerid">&nbsp;</span></td>
    </tr>
  </table>
</div>

<!-- Bridge Information -->
<div style="display: none" id="Template::Bridge::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Source Uniqueid:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key">Source Channel Name:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key">Source Callerid:</td>
      <td>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Destination Uniqueid:</td>
      <td>#{bridgeduniqueid}</td>
    </tr>
    <tr>
      <td class="key">Destination Channel Name:</td>
      <td>#{bridgedchannel}</td>
    </tr>
    <tr>
      <td class="key">Destination Callerid:</td>
      <td>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key">Call Status:</td>
      <td>#{status}</td>
    </tr>
    <tr>
      <td class="key">Call Duration:</td>
      <td>#{_duration}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Transfer Internal -->
<div style="display: none" id="Template::Bridge::Form::Transfer::Internal">
  <table class="tableInfo">
    <tr>
      <td class="key">Source Channel:</td>
      <td><input type="radio" name="Template::Bridge::Form::Transfer::Internal::From" value="#{channel}" checked></td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Destination Channel:</td>
      <td><input type="radio" name="Template::Bridge::Form::Transfer::Internal::From" value="#{bridgedchannel}"></td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key">Transfer Destination:</td>
      <td colspan="2">#{tocallerid}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Park Internal -->
<div style="display: none" id="Template::Bridge::Form::Park">
  <table class="tableInfo">
    <tr>
      <td class="key">Source Channel:</td>
      <td><input type="radio" name="Template::Bridge::Form::Park::Channel" value="#{channel}" checked></td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Destination Channel:</td>
      <td><input type="radio" name="Template::Bridge::Form::Park::Channel" value="#{bridgedchannel}"></td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Spy Peer -->
<div style="display: none" id="Template::Bridge::Form::Spy::Peer">
  <table class="tableInfo">
    <tr>
      <td class="key">Source Channel:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Destination Channel:</td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key">Spyer:</td>
      <td>#{spyer}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Spy Number -->
<div style="display: none" id="Template::Bridge::Form::Spy::Number">
  <table class="tableInfo">
    <tr>
      <td class="key">Source Channel:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key">Destination Channel:</td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key">Spyer Number:</td>
      <td><input type="text" id="Template::Bridge::Form::Spy::Number::Spyer" value="#{spyer}"></td>
    </tr>
  </table>
</div>

<!-- Meetme -->
<div class="hidden" id="Template::Meetme">
  <div class='meetmeDiv'>
    <table width='250' monast="contextmenu">
      <tr>
        <td align='center' class='statusHeader'>Meetme "<span monast="meetme">&nbsp;</span>" (<span monast="countMeetme">0</span>)</td>
      </tr>
    </table>
  </div>
</div>

<!-- MeetmeUser -->
<div class="hidden" id="Template::Meetme::User">
  <table width='250'>
    <tr>
      <td class='status'><span monast="userinfo">&nbsp;</span></td>
    </tr>
  </table>
</div>

<!-- MeetmeUser Information -->
<div style="display: none" id="Template::Meetme::User::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Uniqueid:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key">Channel Name:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key">Callerid Name:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key">Callerid Number:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key">User Number:</td>
      <td>#{usernum}</td>
    </tr>
  </table>
</div>

<!-- Meetme Form Invite Numbers -->
<div style="display: none" id="Template::Meetme::Form::InviteNumbers">
  <table class="tableInfo">
    <tr>
      <td class="key">Meetme:</td>
      <td>
        <input type="text" id="Meetme::Form::InviteNumbers::Meetme" value="#{meetme}">
      </td>
    </tr>
    <tr>
      <td class="key">&nbsp;</td>
      <td>
        <span>if this meetme does not exists,<br>a dynamic one will be created</span>
      </td>
    </tr>
    <tr>
      <td class="key" valign="top">Numbers:<br>(one per line)</td>
      <td><textarea id="Meetme::Form::InviteNumbers::Numbers" cols="20" rows="5"></textarea></td>
    </tr>
  </table>
</div>

<!-- Parked Call -->
<div class="hidden" id="Template::ParkedCall">
  <table width="640">
    <tr>
      <td class="status" align="center" width="80"><span monast="exten">&nbsp;</span></td>
      <td class="status" align="center" width="280"><span monast="parkedFrom">&nbsp;</span><br><span monast="calleridnameFrom">&nbsp;</span> &lt;<span monast="calleridnumFrom">&nbsp;</span>&gt;</td>
      <td class="status" align="center" width="280"><span monast="channel">&nbsp;</span><br><span monast="calleridname">&nbsp;</span> &lt;<span monast="calleridnum">&nbsp;</span>&gt;</td>
    </tr>
  </table>
</div>

<!-- Parked Call Information -->
<div style="display: none" id="Template::ParkedCall::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Exten:</td>
      <td>#{exten}</td>
    </tr>
    <tr>
      <td class="key">Parked Channel:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key">Parked Callerid Name:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key">Parked Callerid Number:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key">Parked From Channel:</td>
      <td>#{parkedFrom}</td>
    </tr>
    <tr>
      <td class="key">Parked From Callerid Name:</td>
      <td>#{calleridnameFrom}</td>
    </tr>
    <tr>
      <td class="key">Parked From Callerid Number:</td>
      <td>#{calleridnumFrom}</td>
    </tr>
    <tr>
      <td class="key">Timeout:</td>
      <td>#{timeout}</td>
    </tr>
  </table>
</div>

<!-- Queue -->
<div class="hidden" id="Template::Queue">
  <fieldset>
    <legend>Queue: <span monast="queuename">&nbsp;</span></legend>
    <div class="queueStatisticsDiv">
      <table width="532" monast="contextmenu">
        <tr>
          <td class="tableTitle" colspan="8" align="center">Statistics</td>
        </tr>
        <tr>
          <td class="statusHeader" align="right">Max:&nbsp;</td>
          <td class="status"><span monast="max">&nbsp;</span></td>
                
          <td class="statusHeader" align="right">Calls:&nbsp;</td>
          <td class="status"><span monast="calls">&nbsp;</span></td>
                
          <td class="statusHeader" align="right">Holdtime:&nbsp;</td>
          <td class="status"><span monast="holdtime">&nbsp;</span></td>
                
          <td class="statusHeader" align="right">Completed:&nbsp;</td>
          <td class="status"><span monast="completed">&nbsp;</span></td>
        </tr>
        <tr>
          <td class="statusHeader" align="right">Abandoned:&nbsp;</td>
          <td class="status"><span monast="abandoned">&nbsp;</span></td>
                
          <td class="statusHeader" align="right">Service Level:&nbsp;</td>
          <td class="status"><span monast="servicelevel">&nbsp;</span></td>
                
          <td class="statusHeader" align="right">Service level Perf.:&nbsp;</td>
          <td class="status"><span monast="servicelevelperf">&nbsp;</span></td>
                
          <td class="statusHeader" align="right">Weight:&nbsp;</td>
          <td class="status"><span monast="weight">&nbsp;</span></td>
        </tr>
      </table>
    </div>
    <div class="queueMembersDivWrap" monast="queueMembers">
      <div class="queueMembersDiv" monast="queueMembersDrop">
        <table width="300">
          <tr>
            <td class="tableTitle" colspan="3" align="center">Members (<span monast="queueMembersCount">0</span>)</td>
          </tr>
          <tr>
            <td class="statusHeader" width="170" align="center">Location/Name</td>
            <td class="statusHeader" width="40" align="center">Calls Taken</td>
            <td class="statusHeader" width="90" align="center">Status</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="queueClientsDivWrap" monast="queueClients">
      <div class="queueClientsDiv">
        <table width="220">
          <tr>
            <td class="tableTitle" align="center">Clients (<span monast="queueClientsCount">0</span>)</td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
</div>

<!-- Queue Information -->
<div style="display: none" id="Template::Queue::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Queue:</td>
      <td>#{queue}</td>
    </tr>
    <tr>
      <td class="key">Max Calls:</td>
      <td>#{max}</td>
    </tr>
    <tr>
      <td class="key">Active Calls:</td>
      <td>#{calls}</td>
    </tr>
    <tr>
      <td class="key">Holdtime:</td>
      <td>#{holdtime} (sec)</td>
    </tr>
    <tr>
      <td class="key">Completed Calls:</td>
      <td>#{completed}</td>
    </tr>
    <tr>
      <td class="key">Abandoned Calls:</td>
      <td>#{abandoned}</td>
    </tr>
    <tr>
      <td class="key">Service Level:</td>
      <td>#{servicelevel} (sec)</td>
    </tr>
    <tr>
      <td class="key">Service level Perf.:</td>
      <td>#{servicelevelperf}%</td>
    </tr>
    <tr>
      <td class="key">Weight:</td>
      <td>#{weight}</td>
    </tr>
  </table>
</div>

<!-- Queue Form Add External Member -->
<div style="display: none" id="Template::Queue::Form::ExternalMember">
  <table class="tableInfo">
    <tr>
      <td class="key">Queue:</td>
      <td>#{queue}</td>
    </tr>
    <tr>
      <td class="key">Member Name:</td>
      <td>
        <input type="text" id="Template::Queue::Form::ExternalMember::Name" size="30">
      </td>
    </tr>
    <tr>
      <td class="key">Member Location:</td>
      <td>
        <input type="text" id="Template::Queue::Form::ExternalMember::Location" size="30">
      </td>
    </tr>
    <tr>
      <td class="key">&nbsp;</td>
      <td>
        <span>Format: Local/&lt;external_number&gt;@&lt;context&gt;</span>
      </td>
    </tr>
  </table>
</div>

<!-- QueueMember -->
<div class="hidden" id="Template::Queue::Member">
  <table width='300'>
    <tr>
      <td class='status' width='170' align='center'><span monast="name">&nbsp;</span></td>
      <td class='status' width='40' align='center'><span monast="callstaken">&nbsp;</span></td>
      <td class='status' width='90' align='center' monast='statuscolor'><span monast="statustext">&nbsp;</span></td>
    </tr>
  </table>
</div>

<!-- QueueClient -->
<div class="hidden" id="Template::Queue::Client">
  <table width='220'>
    <tr>
      <td class='status' align='center'><span monast="callerid">&nbsp;</span><br><span style='font-family: monospace;' monast='chrono'></span></td>
    </tr>
  </table>
</div>

<!-- QueueCall -->
<div class="hidden" id="Template::Queue::Call">
  <table width='300'>
    <tr>
      <td class='status' width='213'><span monast="callerid">&nbsp;</span><br><span style='font-family: monospace;' monast='chrono'></span></td>
      <td class='status' width='87' bgcolor='#ffffb0'>Answered</td>
    </tr>
  </table>
</div>

<!-- Queue Member Information -->
<div style="display: none" id="Template::Queue::Member::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Name:</td>
      <td>#{name}</td>
    </tr>
    <tr>
      <td class="key">Location:</td>
      <td>#{location}</td>
    </tr>
    <tr>
      <td class="key">Membership:</td>
      <td>#{membership}</td>
    </tr>
    <tr>
      <td class="key">Calls Taken:</td>
      <td>#{callstaken}</td>
    </tr>
    <tr>
      <td class="key">Last Call:</td>
      <td>#{lastcalltext}</td>
    </tr>
    <tr>
      <td class="key">Paused:</td>
      <td>#{pausedtext}</td>
    </tr>
    <tr>
      <td class="key">Penalty:</td>
      <td>#{penalty}</td>
    </tr>
    <tr>
      <td class="key">Status:</td>
      <td>#{statustext_nochrono}</td>
    </tr>
  </table>
</div>

<!-- Queue Client Information -->
<div style="display: none" id="Template::Queue::Client::Info">
  <table class="tableInfo">
    <tr>
      <td class="key">Uniqueid:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key">Callerid Name:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key">Callerid Number:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key">Position:</td>
      <td>#{position}</td>
    </tr>
    <tr>
      <td class="key">Waiting since:</td>
      <td>#{waittime}</td>
    </tr>
  </table>
</div>
