
<!-- User/Peer (Uncomment below to got small peer butons) -->
<!-- 
<div style="display: none" id="Template::Userpeer">
  <table class="status" width="175px">
    <tr>
      <td id="#{id}-statuscolor" bgcolor="#{statuscolor}" width="115px" title="#{status} :: #{time} ms" nowrap>#{callerid}</td>
      <td id="#{id}-callscolor" bgcolor="#{callscolor}" width="10px" title="call(s)"><span id="#{id}-calls">#{calls}</span></td>
    </tr>
  </table>
</div>
-->

<!-- Channel (Uncomment below to got small channel butons) -->
<!-- 
<div style="display: none" id="Template::Channel">
  <table width='330'>
    <tr>
      <td class='status' width='260' title="#{callerid}">
        <span id="#{id}-monitoricon">#{monitoricon}</span><span id="#{id}-channel">#{channel}</span>
      </td>
      <td bgcolor='#{statecolor}' class='status' width='70' id="#{id}-state">#{state}</td>
    </tr> 
  </table>
</div>
-->
 