
<!-- User/Peer (Uncomment below to got small peer butons) -->
<!-- 
<div class="hidden" id="Template::Userpeer">
  <table class="status" width="175px">
    <tr>
      <td nowrap="nowrap" monast="statuscolor"><b><span monast="callerid">&nbsp;</span></b></td>
      <td monast="callscolor" width="10px"><span monast="calls">&nbsp;</span></td>
    </tr>
  </table>
</div>
-->

<!-- Channel (Uncomment below to got small channel butons) -->
<!-- 
<div class="hidden" id="Template::Channel">
  <table width='330'>
    <tr>
      <td class='status' width='260'>
        <span monast="monitor">
          <img src='image/record.png' border='0' width='8' height='8' title="Channel Monitored">&nbsp;&nbsp;
        </span>
        <span monast="channel">&nbsp;</span>
      </td>
      <td monast="statecolor" class='status' width='70'><span monast="state">&nbsp;</span></td>
    </tr> 
  </table>
</div> 
-->

<!-- Hide some Tabs (Uncomment below to hide tabs) -->
<script language="javascript">
//Monast.hideTab("Meetme Rooms");
//Monast.hideTab("Parked Calls");
</script>
