
<!-- TEMPLATES -->

<!-- User/Peer -->
<div style="display: none" id="Template::Userpeer">
  <table class="status" width="175px">
    <tr>
      <td colspan="2" bgcolor="#DDDDDD" nowrap="nowrap"><b>#{callerid}</b></td>
    </tr>
    <tr>
      <td bgcolor="#{statuscolor}" width="115px" title="#{time} ms">#{status}</td>
      <td bgcolor="#{callscolor}" width="60px">#{calls} call(s)</td>
    </tr>
  </table>
</div>

<!-- Monitor -->
<div style="display: none" id="Template::Channel::Monitor">
  <a href="javascript:recordStop('#{{uniqueid}}')" title='Stop Monitor'><img src='image/record.png' border='0' width='8' height='8'></a>&nbsp;&nbsp;
</div>

<!-- Channel -->
<div style="display: none" id="Template::Channel">
  <table width='330'>
    <tr>
      <td class='status' width='260'>#{monitor}#{_channel}</td>
      <td bgcolor='#{statecolor}' class='status' width='70'>#{state}</td>
    </tr> 
  </table>
  <span style="display: none">#{calleridname} &lt;#{calleridnum}&gt;</span>
</div>

<!-- Bridge -->
<div style="display: none" id="Template::Bridge">
  <table width='570'>
    <tr>
      <td class='status' width='250'>#{_channel}<br>#{callerid}</td>
      <td class='status' width='70' bgcolor='#{statuscolor}'>#{status}<br><span style='font-family: monospace;' id='chrono-#{id}'></span></td>
      <td class='status' width='250' >#{_bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
  </table>
</div>

<!-- Meetme -->
<div style="display: none" id="Template::Meetme">
  <div class='meetmeDiv'>
    <table width='250'>
      <tr>
        <td align='center' class='statusHeader'>Meetme "#{meetme}" (<span id='countMeetme-#{id}'>0</span>)</td>
      </tr>
    </table>
  </div>
</div>

<!-- MeetmeUser -->
<div style="display: none" id="Template::Meetme::User">
  <table width='250'>
    <tr>
      <td class='status'>#{userinfo}</td>
    </tr>
  </table>
</div>

<!-- Queue -->
<div style="display: none" id="Template::Queue">
  <fieldset>
    <legend>Queue: #{queue}</legend>
    <div class="queueStatisticsDiv">
      <table width="532">
        <tr>
          <td class="tableTitle" colspan="8" align="center">Statistics</td>
        </tr>
        <tr>
          <td class="statusHeader" align="right">Max:&nbsp;</td>
          <td class="status">#{max}</td>
                
          <td class="statusHeader" align="right">Calls:&nbsp;</td>
          <td class="status">#{calls}</td>
                
          <td class="statusHeader" align="right">Holdtime:&nbsp;</td>
          <td class="status">#{holdtime}</td>
                
          <td class="statusHeader" align="right">Completed:&nbsp;</td>
          <td class="status">#{completed}</td>
        </tr>
        <tr>
          <td class="statusHeader" align="right">Abandoned:&nbsp;</td>
          <td class="status">#{abandoned}</td>
                
          <td class="statusHeader" align="right">Service Level:&nbsp;</td>
          <td class="status">#{servicelevel}</td>
                
          <td class="statusHeader" align="right">Service level Perf.:&nbsp;</td>
          <td class="status">#{servicelevelperf}</td>
                
          <td class="statusHeader" align="right">Weight:&nbsp;</td>
          <td class="status">#{weight}</td>
        </tr>
      </table>
    </div>
    <div class="queueMembersDivWrap" id="queueMembers-#{id}">
      <div class="queueMembersDiv" id="queueMembersDrop-#{id}">
        <table width="300">
          <tr>
            <td class="tableTitle" colspan="3" align="center">Members (<span id="queueMembersCount-#{id}">0</span>)</td>
          </tr>
          <tr>
            <td class="statusHeader" width="170" align="center">Location/Name</td>
            <td class="statusHeader" width="40" align="center">Calls Taken</td>
            <td class="statusHeader" width="90" align="center">Status</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="queueClientsDivWrap" id="queueClients-#{id}">
      <div class="queueClientsDiv">
        <table width="220">
          <tr>
            <td class="tableTitle" align="center">Clients (<span id="queueClientsCount-#{id}">0</span>)</td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
</div>

<!-- QueueMember -->
<div style="display: none" id="Template::Queue::Member">
  <table width='300'>
    <tr>
      <td class='status' width='170' align='center'>#{name}</td>
      <td class='status' width='40' align='center'>#{callstaken}</td>
      <td class='status' width='90' align='center' bgcolor='#{statuscolor}'>#{statustext}</td>
    </tr>
  </table>
</div>			
