<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>AstMon</title>
<link rel="stylesheet" href="css/styles.css" type="text/css">
<script type="text/javascript" src="js/json.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
<script type="text/javascript" src="js/astmon.js"></script>

<!-- Dependencies -->  
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js" ></script> 
<!-- Drag and Drop source file -->  
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/dragdrop/dragdrop-min.js" ></script>
<!-- Animation -->  
<script src="http://yui.yahooapis.com/2.5.2/build/animation/animation-min.js" type="text/javascript"></script> 

</head>
<body>
<iframe id="__frame" width="1024" height="350" style="display: none"></iframe>
<hr>
<div id="menu">
  <a href="#" onClick="showDiv('peersDiv')">Peers/Users</a>
  &nbsp;|&nbsp;
  <a href="#" onClick="showDiv('channelsDiv')">Channels/Calls</a>
  &nbsp;|&nbsp;
  <a href="#" onClick="showDiv('debugMsg')">DEBUG MESSAGES</a>
</div>
<hr>

<div id="peersDiv">
  <!-- START BLOCK : peer -->
  <div id="peerDiv-{peer}" class="peerTable">
    <table class="status" width="175px">
      <tr>
        <td colspan="2" bgcolor="#DDDDDD" nowrap="nowrap"><b><a href="#" title="Options" onClick="showOptions('peerOptions-{peer}', 1)">{peer}</a></b></td>
      </tr>
      <tr>
        <td id="peerStatus-{peer}" bgcolor="{status-color}" width="115px">{status}</td>
        <td id="peerCalls-{peer}" bgcolor="{calls-color}" width="60px">{calls}</td>
      </tr>
    </table>
  </div>
  <!-- END BLOCK : peer -->
</div>

<!-- START BLOCK : peerOptions -->
<div id="peerOptions-{peer}" class="peerOptions">
  <table width="100%" border="0">
    <tr>
      <td align="left"><b>Options for "{peer}"</b></td>
      <td align="center" width="50px"><a href="#" onClick="showOptions('peerOptions-{peer}', 0)"><b>Close</b></a></td>
    </tr>
  </table>
  <hr>
  <table width="100%" border="0">
    <tr>
      <td align="left">- Originate a call to <input type="text" id="originateNum-{peer}" size="10" class="campo">&nbsp;<button onClick="originateCall('{peer}')">Call</button></td>
    </tr>
  </table>
</div>
<!-- END BLOCK : peerOptions -->

<div id="channelsDiv">
  <table border="0" align="center">
    <tr>
      <td valign="top">
        <table width="350" border="1" >
	      <tbody id='channelTable'>
	        <tr>
	          <td class="tableTitle" align="center" colspan="2">Channels</td>
	        </tr>
	        <tr>
	          <td class="statusHeader" align="center" width="260">Channel</td>
	          <td class="statusHeader" align="center" width="80">Status</td>
  	        </tr>
	      </tbody>
	    </table>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td valign="top">
        <table width="600" border="1" >
	      <tbody id='callTable'>
	        <tr>
	          <td class="tableTitle" align="center" colspan="3">Calls</td>
	        </tr>
	        <tr>
	          <td class="statusHeader" align="center" width="260">SRC Channel</td>
	          <td class="statusHeader" align="center" width="80">Status</td>
	          <td class="statusHeader" align="center" width="260">DST Channel</td>
	        </tr>
	      </tbody>
	    </table>
      </td>
    </tr>
  </table>
</div>

<div id="debugMsg">
</div>

<script type="text/javascript">
YAHOO.util.DDM.mode = YAHOO.util.DDM.POINT;

<!-- START BLOCK : process -->
Process('{json}');
<!-- END BLOCK : process -->

var ddDiv = new Array();
<!-- START BLOCK : peerDragDrop -->
ddDiv['peerDiv-{peer}']               = new YAHOO.util.DD("peerDiv-{peer}");
ddDiv['peerDiv-{peer}'].startPos      = YAHOO.util.Dom.getXY(YAHOO.util.Dom.get('peerDiv-{peer}'));
ddDiv['peerDiv-{peer}'].onDragDrop    = peerDrop; 
ddDiv['peerDiv-{peer}'].onInvalidDrop = peerIDrop;
<!-- END BLOCK : peerDragDrop -->

startIFrame();
</script>

</body>
</html>