
<script language="javascript">
Monast.USERNAME = "{MONAST_USERNAME}";
</script>

<div id="TabPannel" class="yui-navset" >
  <ul class="yui-nav">
    <li id="liTab_mixed"><a href="#tab_mixed"><em><script language="javascript">document.write(Language.mixedPannels);</script></em></a></li>
    <li id="liTab_peersDiv"><a href="#tab_peersDiv"><em><script language="javascript">document.write(Language.peersUsers);</script></em></a></li>
    <li id="liTab_meetmesDiv"><a href="#tab_meetmesDiv"><em><script language="javascript">document.write(Language.meetmeRooms);</script></em></a></li>
    <li id="liTab_chanCallDiv"><a href="#tab_chanCallDiv"><em><script language="javascript">document.write(Language.channelsCalls);</script></em></a></li>
    <li id="liTab_parkedCallsDiv"><a href="#tab_parkedCallsDiv"><em><script language="javascript">document.write(Language.parkedCalls);</script></em></a></li>
    <li id="liTab_queuesDiv"><a href="#tab_queuesDiv"><em><script language="javascript">document.write(Language.queues);</script></em></a></li>
    <!-- START BLOCK : cli_tab -->
    <li id="liTab_cliDiv"><a href="#tab_cliDiv"><em><script language="javascript">document.write(Language.asteriskCli);</script></em></a></li>
    <!-- END BLOCK : cli_tab -->
    <!-- START BLOCK : debug_tab -->
    <li id="liTab_debugDiv"><a href="#tab_debugDiv"><em><script language="javascript">document.write(Language.debug);</script></em></a></li>
    <!-- END BLOCK : debug_tab -->
  </ul>
  
  <div class="yui-content"> 
    <div id="mixed">
      <fieldset id="pannelsToShow">
        <legend><b><script language="javascript">document.write(Language.pannelsToShow);</script></b></legend> 
        <input id="checkBoxTab_peersDiv" type="checkbox" name="checkBoxTab_peersDiv" value="peersDiv">
        <input id="checkBoxTab_meetmesDiv" type="checkbox" name="checkBoxTab_meetmesDiv" value="meetmesDiv">
        <input id="checkBoxTab_chanCallDiv" type="checkbox" name="checkBoxTab_chanCallDiv" value="chanCallDiv">
        <input id="checkBoxTab_parkedCallsDiv" type="checkbox" name="checkBoxTab_parkedCallsDiv" value="parkedCallsDiv">
        <input id="checkBoxTab_queuesDiv" type="checkbox" name="checkBoxTab_queuesDiv" value="queuesDiv">
      </fieldset>
    </div>
  
    <div id="peersDiv">
    <fieldset>
      <legend><b><script language="javascript">document.write(Language.peersUsers);</script></b></legend>
      <div id="peersDivWraper"> 

      <!-- START BLOCK : technology -->
      <fieldset id="fieldset-{technology}-fieldset">
        <legend><a href="javascript:void(0)" title="Show/Hide" class="a" onclick="$('fieldset-{technology}').visible() ? $('fieldset-{technology}').hide() : $('fieldset-{technology}').show()">{technology} ({count})</a></legend>
        <div id="fieldset-{technology}">
          <!-- START BLOCK : peergroup -->
          <fieldset>
            <legend><a href="javascript:void(0)" title="Show/Hide" class="a" onclick="$('fieldset-{technology}-{group}').visible() ? $('fieldset-{technology}-{group}').hide() : $('fieldset-{technology}-{group}').show()">{group} ({count})</a></legend>
            <div id="fieldset-{technology}-{group}">
            </div>
          </fieldset>
          <!-- END BLOCK : peergroup -->
        </div>
      </fieldset>
      <!-- END BLOCK : technology -->
      
      </div>
      <div style="clear: both;"></div>
    </fieldset>
    </div>
    
    <div id="meetmesDiv">
    <fieldset>
      <legend><b><script language="javascript">document.write(Language.meetmeRooms);</script></b></legend>
        <span><input type="button" id="buttonMeemteCreate" value="Create Dynamic Meetme"></span>
        <script language="javascript">
        $("buttonMeemteCreate").value = Language.createDynamicMeetme;
        Monast._buttonMeetmeCreate = new YAHOO.widget.Button("buttonMeemteCreate", {onclick: {fn: Monast._meetmeInviteNumbers, obj: null}});
        </script>
      <div id="meetmeDivWrapper">
      </div>
    </fieldset>
    </div>
    
    <div id="chanCallDiv">
    <fieldset>
      <legend><b><script language="javascript">document.write(Language.channelsCalls);</script></b></legend> 
      <div id="channelsDiv">
        <div class="channelDiv">
          <table width="330">
            <tr>
              <td class="tableTitle" align="center" colspan="2"><script language="javascript">document.write(Language.channels);</script> (<span id="countChannels">0</span>)</td>
            </tr>
            <tr>
              <td class="statusHeader" align="center" width="260"><script language="javascript">document.write(Language.channel);</script></td>
              <td class="statusHeader" align="center" width="70"><script language="javascript">document.write(Language.status);</script></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="callsDiv">
        <div class="callDiv">
          <table width="570">
            <tr>
              <td class="tableTitle" align="center" colspan="3"><script language="javascript">document.write(Language.calls2);</script> (<span id="countCalls">0</span>)</td>
            </tr>
            <tr>
              <td class="statusHeader" align="center" width="250"><script language="javascript">document.write(Language.sourceChannel);</script></td>
              <td class="statusHeader" align="center" width="70"><script language="javascript">document.write(Language.status);</script></td>
              <td class="statusHeader" align="center" width="250"><script language="javascript">document.write(Language.destinationChannel);</script></td>
            </tr>
          </table>
        </div>
      </div>
      <div style="clear: both;"></div>
    </fieldset>
    </div>
    
    <div id="parkedCallsDiv">
    <fieldset>
      <legend><b><script language="javascript">document.write(Language.parkedCalls);</script></b></legend>
      <div id="parkedsDiv">
        <div class="parkedDiv">
          <table width="640">
            <tr>
              <td class="tableTitle" align="center" colspan="3"><script language="javascript">document.write(Language.parkedCalls2);</script> (<span id="countParked">0</span>)</td>
            </tr>
            <tr>
              <td class="statusHeader" align="center" width="80"><script language="javascript">document.write(Language.exten);</script></td>
              <td class="statusHeader" align="center" width="280"><script language="javascript">document.write(Language.parkedFrom);</script></td>
              <td class="statusHeader" align="center" width="280"><script language="javascript">document.write(Language.parkedChannel);</script></td>
            </tr>
          </table>
        </div>
      </div>
    </fieldset>
    </div>
    
    <div id="queuesDiv">
    <fieldset id="fieldset-queuedual">
      <legend><b><script language="javascript">document.write(Language.queues);</script></b></legend>
      
      <!-- <div style="clear: both;"></div> -->
    </fieldset>
    </div>

    <!-- START BLOCK : cli_tab_div -->
	<div id="cliDiv">
	  <textarea id="cliResponse" rows="40" cols="160" readonly="readonly"></textarea><br>
	  <input id="cliCommand" type="text" size="60" onkeypress="Monast.onKeyPressCliCommand(event)">
	  &nbsp;<button onclick="Monast.cliCommand()"><script language="javascript">document.write(Language.send);</script></button>&nbsp;<button onclick="$('cliResponse').value=''"><script language="javascript">document.write(Language.clear);</script></button>
	</div>
	<!-- END BLOCK : cli_tab_div -->

    <!-- START BLOCK : debug_tab_div -->
    <div id="debugDiv">
    </div>
    <!-- END BLOCK : debug_tab_div -->
    
  </div>
</div>

{templates}

<script language="javascript">
Monast.MONAST_CALL_TIME               = {MONAST_CALL_TIME};
Monast.MONAST_BLINK_ONCHANGE          = {MONAST_BLINK_ONCHANGE};
Monast.MONAST_BLINK_COUNT             = {MONAST_BLINK_COUNT};
Monast.MONAST_BLINK_INTERVAL          = {MONAST_BLINK_INTERVAL};
Monast.MONAST_KEEP_CALLS_SORTED       = {MONAST_KEEP_CALLS_SORTED};
Monast.MONAST_KEEP_PARKEDCALLS_SORTED = {MONAST_KEEP_PARKEDCALLS_SORTED};

window.onload = function () {
	<!-- START BLOCK : process -->
	Monast.processEvent('{json}'.evalJSON());
	<!-- END BLOCK : process -->
	setTimeout('Monast.requestStatus()', 1000);
}
</script>
