
<!-- TEMPLATES -->

<!-- User/Peer -->
<div class="hidden" id="Template::Userpeer">
  <table class="status" width="175px">
    <tr>
      <td colspan="2" bgcolor="#DDDDDD" nowrap="nowrap"><b><span monast="callerid">&nbsp;</span></b></td>
    </tr>
    <tr>
      <td monast="statuscolor" width="115px"><span monast="status">&nbsp;</span></td>
      <td monast="callscolor" width="60px"><span monast="calls">&nbsp;</span> <script language="javascript">document.write(Language.callsAbreviated);</script></td>
    </tr>
  </table>
</div>

<!-- User/Peer Information -->
<div style="display: none" id="Template::Userpeer::Info">
  <table class="tableInfo" id="Template::Userpeer::Info::Table">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.channelType);</script>:</td>
      <td>#{channeltype}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.peerName);</script>:</td>
      <td>#{peername}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.peerContext);</script>:</td>
      <td>#{context}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.callerid);</script>:</td>
      <td>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.status);</script>:</td>
      <td>#{statusTranslated}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.activeCalls);</script>:</td>
      <td>#{calls}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.latency);</script>:</td>
      <td>#{latency}</td>
    </tr>
  </table>
</div>

<!-- User/Peer Form Originate Dial -->
<div style="display: none" id="Template::Userpeer::Form::Originate::Dial">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.from);</script>:</td>
      <td>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.to);</script>:</td>
      <td><input type="text" id="Userpeer::Form::Originate::Dial::To"></td>
    </tr>
  </table>
</div>

<!-- User/Peer Form Originate Call -->
<div style="display: none" id="Template::Userpeer::Form::Originate::InternalCall">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.from);</script>:</td>
      <td>#{fromcallerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.to);</script>:</td>
      <td>#{tocallerid}</td>
    </tr>
  </table>
</div>

<!-- Channel -->
<div class="hidden" id="Template::Channel">
  <table width='330'>
    <tr>
      <td class='status' width='260'>
        <span monast="monitor">
          <img id="Template::Channel::Image::Stop" src='image/stop.png' border='0' width='8' height='8' title="Channel Monitored">&nbsp;&nbsp;
        </span>
        <span monast="spy">
          <img id="Template::Channel::Image::UserThief" src='image/user_thief.png' border='0' width='8' height='8' title="Channel Spyed">&nbsp;&nbsp;
        </span>
        <span monast="channel">&nbsp;</span>
        <br>
        <span monast="callerid">&nbsp;</span>
      </td>
      <td monast="statecolor" class='status' width='70'><span monast="state">&nbsp;</span></td>
    </tr> 
  </table>
</div>
<script language="javascript">
$("Template::Channel::Image::Stop").title      = Language.channelMonitored;
$("Template::Channel::Image::UserThief").title = Language.channelSpyed;
</script> 

<!-- Channel Form Spy Peer -->
<div style="display: none" id="Template::Channel::Form::Spy::Peer">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.channel);</script>:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.spyer);</script>:</td>
      <td>#{spyer}</td>
    </tr>
  </table>
</div>

<!-- Channel Form Spy Number -->
<div style="display: none" id="Template::Channel::Form::Spy::Number">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.channel);</script>:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.spyerNumber);</script>:</td>
      <td><input type="text" id="Template::Channel::Form::Spy::Number::Spyer" value="#{spyer}"></td>
    </tr>
  </table>
</div>

<!-- Channel Information -->
<div style="display: none" id="Template::Channel::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.uniqueid);</script>:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.channelName);</script>:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.calleridName);</script>:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.calleridNumber);</script>:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.state);</script>:</td>
      <td>#{stateTranslated}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.monitored);</script>:</td>
      <td>#{monitortext}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.spyed);</script>:</td>
      <td>#{spytext}</td>
    </tr>
  </table>
</div>

<!-- Bridge -->
<div class="hidden" id="Template::Bridge">
  <table width='570'>
    <tr>
      <td class='status' width='250'><span monast="channel">&nbsp;</span><br><span monast="callerid">&nbsp;</span></td>
      <td class='status' width='70' monast="statuscolor"><span monast="status">&nbsp;</span><br><span style='font-family: monospace;' monast='chrono'></span></td>
      <td class='status' width='250'><span monast="bridgedchannel">&nbsp;</span><br><span monast="bridgedcallerid">&nbsp;</span></td>
    </tr>
  </table>
</div>

<!-- Bridge Information -->
<div style="display: none" id="Template::Bridge::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceUniqueid);</script>:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceChannel);</script>:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceCallerid);</script>:</td>
      <td>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationUniqueid);</script>:</td>
      <td>#{bridgeduniqueid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationChannel);</script>:</td>
      <td>#{bridgedchannel}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationCallerid);</script>:</td>
      <td>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.callStatus);</script>:</td>
      <td>#{statusTranslated}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.callDuration);</script>:</td>
      <td>#{_duration}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Transfer Internal -->
<div style="display: none" id="Template::Bridge::Form::Transfer::Internal">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceChannel);</script>:</td>
      <td><input type="radio" name="Template::Bridge::Form::Transfer::Internal::From" value="#{channel}" checked></td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationChannel);</script>:</td>
      <td><input type="radio" name="Template::Bridge::Form::Transfer::Internal::From" value="#{bridgedchannel}"></td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.transferDestination);</script>:</td>
      <td colspan="2">#{tocallerid}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Park Internal -->
<div style="display: none" id="Template::Bridge::Form::Park">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceChannel);</script>:</td>
      <td><input type="radio" name="Template::Bridge::Form::Park::Channel" value="#{channel}" checked></td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationChannel);</script>:</td>
      <td><input type="radio" name="Template::Bridge::Form::Park::Channel" value="#{bridgedchannel}"></td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Spy Peer -->
<div style="display: none" id="Template::Bridge::Form::Spy::Peer">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceChannel);</script>:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationChannel);</script>:</td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.spyer);</script>:</td>
      <td>#{spyer}</td>
    </tr>
  </table>
</div>

<!-- Bridge Form Spy Number -->
<div style="display: none" id="Template::Bridge::Form::Spy::Number">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.sourceChannel);</script>:</td>
      <td>#{channel}<br>#{callerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.destinationChannel);</script>:</td>
      <td>#{bridgedchannel}<br>#{bridgedcallerid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.spyerNumber);</script>:</td>
      <td><input type="text" id="Template::Bridge::Form::Spy::Number::Spyer" value="#{spyer}"></td>
    </tr>
  </table>
</div>

<!-- Meetme -->
<div class="hidden" id="Template::Meetme">
  <div class='meetmeDiv'>
    <table width='250' monast="contextmenu">
      <tr>
        <td align='center' class='statusHeader'><script language="javascript">document.write(Language.meetme);</script>: "<span monast="meetme">&nbsp;</span>" (<span monast="countMeetme">0</span>)</td>
      </tr>
    </table>
  </div>
</div>

<!-- MeetmeUser -->
<div class="hidden" id="Template::Meetme::User">
  <table width='250'>
    <tr>
      <td class='status'><span monast="userinfo">&nbsp;</span></td>
    </tr>
  </table>
</div>

<!-- MeetmeUser Information -->
<div style="display: none" id="Template::Meetme::User::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.uniqueid);</script>:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.channelName);</script>:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.calleridName);</script>:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.calleridNumber);</script>:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.userNumber);</script>:</td>
      <td>#{usernum}</td>
    </tr>
  </table>
</div>

<!-- Meetme Form Invite Numbers -->
<div style="display: none" id="Template::Meetme::Form::InviteNumbers">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.meetme);</script>:</td>
      <td>
        <input type="text" id="Meetme::Form::InviteNumbers::Meetme" value="#{meetme}">
      </td>
    </tr>
    <tr>
      <td class="key">&nbsp;</td>
      <td>
        <span><script language="javascript">document.write(Language.ifNotExistsCreateDynamic);</script></span>
      </td>
    </tr>
    <tr>
      <td class="key" valign="top"><script language="javascript">document.write(Language.numbers);</script>:<br>(<script language="javascript">document.write(Language.onePerLine);</script>)</td>
      <td><textarea id="Meetme::Form::InviteNumbers::Numbers" cols="20" rows="5"></textarea></td>
    </tr>
  </table>
</div>

<!-- Parked Call -->
<div class="hidden" id="Template::ParkedCall">
  <table width="640">
    <tr>
      <td class="status" align="center" width="80"><span monast="exten">&nbsp;</span></td>
      <td class="status" align="center" width="280"><span monast="parkedFrom">&nbsp;</span><br><span monast="calleridnameFrom">&nbsp;</span> &lt;<span monast="calleridnumFrom">&nbsp;</span>&gt;</td>
      <td class="status" align="center" width="280"><span monast="channel">&nbsp;</span><br><span monast="calleridname">&nbsp;</span> &lt;<span monast="calleridnum">&nbsp;</span>&gt;</td>
    </tr>
  </table>
</div>

<!-- Parked Call Information -->
<div style="display: none" id="Template::ParkedCall::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.exten);</script>:</td>
      <td>#{exten}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.parkedChannel);</script>:</td>
      <td>#{channel}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.parkedCalleridName);</script>:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.parkedCalleridNumber);</script>:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.parkedFrom);</script>:</td>
      <td>#{parkedFrom}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.parkedFromCalleridName);</script>:</td>
      <td>#{calleridnameFrom}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.parkedFromCalleridNumber);</script>:</td>
      <td>#{calleridnumFrom}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.timeout);</script>:</td>
      <td>#{timeout}</td>
    </tr>
  </table>
</div>

<!-- Queue -->
<div class="hidden" id="Template::Queue">
  <fieldset>
    <legend><script language="javascript">document.write(Language.queue);</script>: <span monast="queuename">&nbsp;</span></legend>
    <div class="queueStatisticsDiv">
      <table width="532" monast="contextmenu">
        <tr>
          <td class="tableTitle" colspan="8" align="center"><script language="javascript">document.write(Language.statistics);</script></td>
        </tr>
        <tr>
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.max);</script>:&nbsp;</td>
          <td class="status"><span monast="max">&nbsp;</span></td>
                
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.calls2);</script>:&nbsp;</td>
          <td class="status"><span monast="calls">&nbsp;</span></td>
                
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.holdtime);</script>:&nbsp;</td>
          <td class="status"><span monast="holdtime">&nbsp;</span></td>
                
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.completed);</script>:&nbsp;</td>
          <td class="status"><span monast="completed">&nbsp;</span></td>
        </tr>
        <tr>
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.abandoned);</script>:&nbsp;</td>
          <td class="status"><span monast="abandoned">&nbsp;</span></td>
                
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.serviceLevel);</script>:&nbsp;</td>
          <td class="status"><span monast="servicelevel">&nbsp;</span></td>
                
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.serviceLevelPerf);</script>:&nbsp;</td>
          <td class="status"><span monast="servicelevelperf">&nbsp;</span></td>
                
          <td class="statusHeader" align="right"><script language="javascript">document.write(Language.weight);</script>:&nbsp;</td>
          <td class="status"><span monast="weight">&nbsp;</span></td>
        </tr>
      </table>
    </div>
    <div class="queueMembersDivWrap" monast="queueMembers">
      <div class="queueMembersDiv" monast="queueMembersDrop">
        <table width="300">
          <tr>
            <td class="tableTitle" colspan="3" align="center"><script language="javascript">document.write(Language.members);</script> (<span monast="queueMembersCount">0</span>)</td>
          </tr>
          <tr>
            <td class="statusHeader" width="170" align="center"><script language="javascript">document.write(Language.nameLocation);</script></td>
            <td class="statusHeader" width="40" align="center"><script language="javascript">document.write(Language.callsTaken);</script></td>
            <td class="statusHeader" width="90" align="center"><script language="javascript">document.write(Language.status);</script></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="queueClientsDivWrap" monast="queueClients">
      <div class="queueClientsDiv">
        <table width="220">
          <tr>
            <td class="tableTitle" align="center"><script language="javascript">document.write(Language.clients);</script> (<span monast="queueClientsCount">0</span>)</td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
</div>

<!-- Queue Information -->
<div style="display: none" id="Template::Queue::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.queue);</script>:</td>
      <td>#{queue}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.maxCalls);</script>:</td>
      <td>#{max}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.activeCalls);</script>:</td>
      <td>#{calls}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.holdtime);</script>:</td>
      <td>#{holdtime} (sec)</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.completedCalls);</script>:</td>
      <td>#{completed}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.abandonedCalls);</script>:</td>
      <td>#{abandoned}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.serviceLevel);</script>:</td>
      <td>#{servicelevel} (sec)</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.serviceLevelPerf);</script>:</td>
      <td>#{servicelevelperf}%</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.weight);</script>:</td>
      <td>#{weight}</td>
    </tr>
  </table>
</div>

<!-- Queue Form Add External Member -->
<div style="display: none" id="Template::Queue::Form::ExternalMember">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.queue);</script>:</td>
      <td>#{queue}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.memberName);</script>:</td>
      <td>
        <input type="text" id="Template::Queue::Form::ExternalMember::Name" size="30">
      </td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.memberLocation);</script>:</td>
      <td>
        <input type="text" id="Template::Queue::Form::ExternalMember::Location" size="40">
      </td>
    </tr>
    <tr>
      <td class="key">&nbsp;</td>
      <td>
        <span><script language="javascript">document.write(Language.locationFormat);</script></span>
      </td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.penalty);</script>:</td>
      <td>
        <input type="text" id="Template::Queue::Form::ExternalMember::Penalty" size="5" value="0">
      </td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.stateInterface);</script>:</td>
      <td>
        <input type="text" id="Template::Queue::Form::ExternalMember::StateInterface" size="30">
      </td>
    </tr>
  </table>
</div>

<!-- QueueMember -->
<div class="hidden" id="Template::Queue::Member">
  <table width='300'>
    <tr>
      <td class='status' width='170' align='center'><span monast="name">&nbsp;</span></td>
      <td class='status' width='40' align='center'><span monast="callstaken">&nbsp;</span></td>
      <td class='status' width='90' align='center' monast='statuscolor'><span monast="statustext">&nbsp;</span></td>
    </tr>
  </table>
</div>

<!-- QueueClient -->
<div class="hidden" id="Template::Queue::Client">
  <table width='220'>
    <tr>
      <td class='status' align='center'><span monast="callerid">&nbsp;</span><br><span style='font-family: monospace;' monast='chrono'></span></td>
    </tr>
  </table>
</div>

<!-- QueueCall -->
<div class="hidden" id="Template::Queue::Call">
  <table width='300'>
    <tr>
      <td class='status' width='213'><span monast="callerid">&nbsp;</span><br><span style='font-family: monospace;' monast='chrono'></span></td>
      <td class='status' width='87' bgcolor='#ffffb0'><script language="javascript">document.write(Language.answered);</script></td>
    </tr>
  </table>
</div>

<!-- Queue Member Information -->
<div style="display: none" id="Template::Queue::Member::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.memberName);</script>:</td>
      <td>#{name}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.memberLocation);</script>:</td>
      <td>#{location}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.membership);</script>:</td>
      <td>#{membership}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.callsTaken2);</script>:</td>
      <td>#{callstaken}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.lastCall);</script>:</td>
      <td>#{lastcalltext}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.paused);</script>:</td>
      <td>#{pausedtext}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.penalty);</script>:</td>
      <td>#{penalty}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.status);</script>:</td>
      <td>#{statustext_nochrono_translated}</td>
    </tr>
  </table>
</div>

<!-- Queue Client Information -->
<div style="display: none" id="Template::Queue::Client::Info">
  <table class="tableInfo">
    <tr>
      <td class="key"><script language="javascript">document.write(Language.uniqueid);</script>:</td>
      <td>#{uniqueid}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.calleridName);</script>:</td>
      <td>#{calleridname}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.calleridNumber);</script>:</td>
      <td>#{calleridnum}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.position);</script>:</td>
      <td>#{position}</td>
    </tr>
    <tr>
      <td class="key"><script language="javascript">document.write(Language.waitingSince);</script>:</td>
      <td>#{waittime}</td>
    </tr>
  </table>
</div>
