
[global]

# Dados para conectar ao AMI
hostname = localhost
hostport = 5038
username = username
password = password

# Bind client connetions on port
bind_port = 5039

# Context to use in transfer calls
transfer_context = default

# Context and prefix for meetme
meetme_context = default
meetme_prefix = 

[users]
# defualt show/hide
default = show

# esconde ramal caso default = show
SIP/user-1 = hide

# mostra ramal caso default = hide
SIP/user-2 = show

# Sempre mostra.
SIP/user-3 = force

