#peersDiv {
	padding: 5px; 
	display: block;
	/*overflow: auto;*/
}
.peerTable {
	float: left; 
	margin: 5px;
	background-color: #ffffff;
}
.peerOptions {
	position: absolute;
	display: none;
	font-family: Verdana;
	font-size: 0.7em;
	width: 400px;
	padding: 10px;
	left: 50%;
	margin-left: -210px;
	background-color: #ffffff;
	border: 1px solid #000000;
}
.peerOptions a {
	color: black;
	text-decoration: none;
}
.status {
	font-family: Verdana;
	font-size: 0.7em;
	text-align: center;
	border: 1px solid #aaaaaa;
}
.status a {
	color: black;
	text-decoration: none;
}
.campo {
	border: 1px solid #dddddd;
	font-family: Verdana;
	font-size: 0.9em;
}
#chanCallDiv {
	padding: 10px; 
	display: none;
	/*overflow: auto;*/
}
#channelsDiv {
	width: 350px;
	float: left;
}
.channelDiv {
	width: 350px;
	border: 1px solid #aaaaaa;
	margin-bottom: 2px;
	background-color: #ffffff;
	z-index: 2;
}
#callsDiv {
	width: 600px;
	float: left;
	margin-left: 50px;
}
.callDiv {
	width: 600px;
	border: 1px solid #aaaaaa;
	margin-bottom: 2px;
	background-color: #ffffff;
	z-index: 2;
}
.tableTitle {
	font-family: Verdana;
	font-size: 0.7em;
	font-weight: bold;
	background-color: #bbbbbb;
}
.statusHeader {
	font-family: Verdana;
	font-size: 0.7em;
	font-weight: bold;
	background-color: #dddddd;
}
#trash {
	position: absolute; 
	top: 40px; 
	left: 1100px;
	display: none;
	z-index: 1;
}
#debugMsg {
	border: black 1px solid; 
	width: 1115px; 
	height: 300px; 
	overflow: auto; 
	font-family: 'courier new'; 
	font-size: 0.7em;
	align: center; 
	margin: 0 auto;
	display: none;
}