#peersDiv {
	padding: 5px; 
}
.peerTable {
	float: left; 
	margin: 5px;
	background-color: #ffffff;
}
#meetmesDiv {
	padding: 5px; 
}
.meetmeDivWrap {
	float: left; 
	margin: 5px;
}
.meetmeDiv {
	width: 250px;
	border: 1px solid #aaaaaa;
	margin-bottom: 2px;
	background-color: #ffffff;
	z-index: 2;
}
.status {
	font-family: Verdana;
	font-size: 0.7em;
	text-align: center;
	border: 1px solid #aaaaaa;
}
.status a {
	color: black;
	text-decoration: none;
}
.campo {
	border: 1px solid #dddddd;
	font-family: Verdana;
	font-size: 0.9em;
}
#chanCallDiv {
	padding: 5px; 
}
#channelsDiv {
	width: 350px;
	float: left;
}
.channelDiv {
	width: 350px;
	border: 1px solid #aaaaaa;
	margin-bottom: 2px;
	background-color: #ffffff;
	z-index: 2;
}
#callsDiv {
	width: 600px;
	float: left;
	margin-left: 50px;
}
.callDiv {
	width: 600px;
	border: 1px solid #aaaaaa;
	margin-bottom: 2px;
	background-color: #ffffff;
	z-index: 2;
}
.tableTitle {
	font-family: Verdana;
	font-size: 0.7em;
	font-weight: bold;
	background-color: #bbbbbb;
}
.statusHeader {
	font-family: Verdana;
	font-size: 0.7em;
	font-weight: bold;
	background-color: #dddddd;
}
#trash {
	z-index: 1;
	margin-left: 25px;
	float: left;
}
#debugMsg {
	border: black 1px solid; 
	width: 1115px; 
	height: 300px; 
	overflow: auto; 
	font-family: 'courier new'; 
	font-size: 0.7em;
	margin: 0 auto;
}